.grid-container {
    display: grid;
    height: 250px;
    width: 100vW;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 200px 200px;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
}

.grid-container img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}